<ion-view view-title="Expenses">
    
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="e in expenses" class="item" style="padding: 0px; margin: 0px; font-size: 10pt" ng-click="editItem(e)">
                    <div class="row">
                        <div class="col col-90">
                                {{e.date.yyyy_mm_dd()}} 
                                {{getExpenseItemName(e.expenseItemId)}}
                                {{e.amount}}
                            <span style="display: block"> {{e.comment}}</span>
                        </div>
                        <div class="col col-10">
                            <button class="button button-small" ng-click="deleteRow(e)" style="min-height: 20px; line-height: 0px"> - </button> 
                        </div>
                    </div>
                    
                    
                    
                </ion-item>
                <ion-item style="padding: 0px; margin: 0px; ">
                    <div class="row">
                        <div class="col col-33" style="border: 1px solid #000000; ">
                              <input type="date" ng-model="newExpense.date" placeholder="Date" style="width: 100%; border: 1px solid #000000; ">
                        </div>
                        <div class="col col-33" style="border: 1px solid #000000; ">
                            <select ng-model="newExpense.expenseItemId" 
                                style="border: 1px solid #000000; height: 32px; width: 100%; margin: 0px; padding: 0px; white-space: nowrap;"> 
                                <option data-ng-repeat="ei in expenseItems" value="{{ei.ID}}" ng-selected="ei.ID == newExpense.expenseItemId">
                                    {{ei.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col col-33" style="border: 1px solid">
                            <input id="amountElement" type="number" ng-model="newExpense.amount" style="width: 100%; border: 1px solid #000000; ">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col col-100" style="border: 1px solid #000000; ">
                            <input type="text" ng-model="newExpense.comment" placeholder="comment" style="width: 100%; border: 1px solid #000000; "> 
                        </div>
                        <!--div class="col col-20" style="border: 1px solid #000000; ">
                            <button class="button" ng-click="addRow()" style="width: 100%; border: 1px solid #000000; "> + </button> 
                        </div-->
                    </div>
                </ion-item>    
                
            </ion-list>
        </ion-content>
    
     
    
            
             
                
            
                
    
    <ion-footer-bar class="bar-positive">
        <div class="col col-75" style="border: 0px; padding: 0px;">
            <button class="button button-block" style="padding: 0px; margin: 0px" ng-click="addAllExpenses()">
                Добавить, итого: {{ getTotalAmountToSubmit(); }}
            </button>
        </div>
        <div class="col col-25" style="border: 0px; padding: 0px;">
            <button class="button button-block" ng-click="addRow()" style="padding: 0px; margin: 0px">
                +1
            </button>
        </div>
    </ion-footer-bar>
  
    <!--div class="bar bar-footer bar-balanced"> 
        <div class="row">
            
        </div>
    </div-->
</ion-view>

