<ion-view view-title="Home">
    <!--div class="bar bar-header bar-stable">
        <h1 class="title">bar-stable</h1>  
    </div-->
    
    <div style="top: 0px; height: 130px; width: 100%">
        <div class="row">
            
            <div class="col col-25"><input type="button" value="<" ng-click="keypad('<')" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-30"><input type="button" value="{{newExpense.date.yyyy_mm_dd()}} >" ng-click="keypad('>')" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            
            <div class="col col-20"><input type="button" value="sync" ng-click="sync()" class="button"
                 ng-class="syncStatus.status == 2? 'balanced' : 'assertive'"
                style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-20"><input type="button" value="E" ui-sref="overview2" class="button"  
                style="min-height: 48px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd;"></div>
        </div>
        <div class="row">
            <div class="col col-100"><input type="button" ng-click="addNewExpenses()" value="добавить {{ getTotalNewToSubmit(); }}" 
                class="button keysbutton positive" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
    </div>

    
    <ion-content style="top: 130px; bottom: 295px;">
        <ion-list style="padding: 0px; margin: 0px; ">
                <ion-item ng-repeat="e in newExpenses" class="item" style="padding: 0px; margin: 0px; font-size: 10pt; line-height: 20px" ng-click="editItem(e)">
                    <div class="row" style="padding: 0px 5px 0px 5px">
                        <div class="col col-90" style="padding: 0px;">
                                {{e.date.yyyy_mm_dd()}} 
                                {{getExpenseItemName(e.expenseItemId)}}
                                {{e.amount}}
                            <span style="display: block"> {{e.comment}}</span>
                        </div>
                        <div class="col col-10" style="padding: 0px;">
                            <button class="button button-small" ng-click="deleteNewRow(e)" style="min-height: 15px; line-height: 0px; padding: 2px 2px 2px 2px;"> - </button> 
                        </div>
                    </div>
                </ion-item>
   
        </ion-list>
    </ion-content>


    <div style="position: absolute; bottom: 0px; height: 295px; width: 100%">
        <div class="row">
            <div class="col col-50"><input type="button" value="{{getExpenseItemName(newExpense.expenseItemId)}}" ui-sref="select2" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; white-space: nowrap; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="{{newExpense.amount}}" class="button" style="min-height: 48px; padding: 0px; min-width: 0px; line-height: 48px; white-space: nowrap; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="add" ng-click="addRow()" class="button keysbutton positive" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        <div class="row">
            <div class="col col-75"><input type="text" ng-model="newExpense.comment" placeholder="comment" style="width: 100%; border: 1px solid #dddddd; padding: 0px; min-width: 0px; line-height: 24px;"></div>
        </div>
        <div class="row">
            <div class="col col-25"><input type="button" value="1" ng-click="keypad('1')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="2" ng-click="keypad('2')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="3" ng-click="keypad('3')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="C" ng-click="keypad('C')" class="button keysbutton assertive" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        <div class="row">
            <div class="col col-25"><input type="button" value="4" ng-click="keypad('4')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="5" ng-click="keypad('5')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="6" ng-click="keypad('6')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="<-" ng-click="keypad('<-')" class="button keysbutton assertive" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        <div class="row">
            <div class="col col-25"><input type="button" value="7" ng-click="keypad('7')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="8" ng-click="keypad('8')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="9" ng-click="keypad('9')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="0" ng-click="keypad('0')" class="button keysbutton" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 48px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        

    </div>
    
    
    
</ion-view>

