<ion-view view-title="Home">
    <!--div class="bar bar-header bar-stable">
        <h1 class="title">bar-stable</h1>
    </div-->
    
    <ion-header-bar align-title="left"  style="height: 88px">
        <div class="buttons">
            <button class="button" ng-click="doSomething()">Left Button</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons">
            <button class="button">Right Button</button>
        </div>
    </ion-header-bar>


    
    <ion-content style="top: 88px; bottom: 176px">
        <span>
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        The List is a common and simple way of displaying... that's right, a list. This is a widely used interface across most current mobile OS's, and can include content ranging from basic text all the way to buttons, toggles, icons, and thumbnails.
        The list view is a very versatile and powerful component. List views support various interaction modes such as editing, swipe to edit, drag to reorder, and pull to refresh.
        </span>
        <div class="row">
            <div class="col col-25">7</div>
            <div class="col col-25">8</div>
            <div class="col col-25">9</div>
            <div class="col col-25">C</div>
        </div>
        <div class="row">
            <div class="col col-25">4</div>
            <div class="col col-25">5</div>
            <div class="col col-25">6</div>
            <div class="col col-25">+</div>
        </div>
    </ion-content>


    <div style="position: absolute; bottom: 0px; height: 176px; width: 100%">
        <div class="row">
            <div class="col col-25"><input type="button" value="7" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="8" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="9" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="C" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        <div class="row">
            <div class="col col-25"><input type="button" value="4" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="5" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="6" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="+" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        <div class="row">
            <div class="col col-25"><input type="button" value="1" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div> 
            <div class="col col-25"><input type="button" value="2" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="3" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
            <div class="col col-25"><input type="button" value="0" class="button" style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "></div>
        </div>
        
        <!--div class="row">
            <div class="col">3</div>
            <div class="col">2</div>
            <div class="col">1</div>
            <div class="col">0</div>
        </div-->

    </div>
    
    
    
</ion-view>

