<ion-view view-title="Overview">
  <ion-content>
      
    <div><span><b>Latest expenses:</b></span> 
        <ul ng-repeat="d in latestExpenses.days">
            <li class="td2">
                <b>{{latestExpenses[d].date}} (total: {{latestExpenses[d].totalAmount}})</b>
                <ul ng-repeat="e in latestExpenses[d].expenses">
                    <li  class="td3">{{e.expenseItemName}} {{e.amount}} {{e.comment}} </li>
                </ul>
            </li>
        </ul>
        <span><b>Init:</b></span> 
        <ul class="unstyled">
            <li ng-repeat="m in overviewMessages track by $index">
                <span>{{m}}</span> 
            </li>
        </ul>{{overviewString}}
    </div>
    
    <!--div> <!-- ng-hide="authToken!=''" -- >
        <div class="row" style="border: 1px solid black">
            <div class="col col-30">    
                <a href="#" onclick="window.open('https://oauth.yandex.ru/authorize?response_type=code&client_id=6afb425aacb947d3b832f580335ecb4d', 
                    '_system');">Get Auth code</a>
            </div>
            <div class="col col-50"><input style="width: 100%; border: 1px solid black; height: 1.7em" type="text" ng-model="auth.code" placeholder="Enter your Yandex Auth code"></div>
            <div class="col col-20"><input style="width: 100%; border: 1px solid black" type="button" value="Get" ng-click="getAuthToken()"></div>
        </div>
    </div>
    
    <form class="form-group" role="form">
        
        <div class="form-group">
            <label>Current database: </label>          
            <select ng-model="currentDb.name" ng-change="switchDatabase()" class="form-control"> 
                <option data-ng-repeat="d in databases" value="{{d}}" ng-selected="d == currentDb.name" >{{d}}</option>
            </select>
        </div>
    </form>
    < !-- --------------------------------------------- -->
        <div class="row">
            <div class="col col-33 bordered">
                <input type="button" 
                    class="button" 
                    onclick="window.open('https://oauth.yandex.ru/authorize?response_type=code&client_id=6afb425aacb947d3b832f580335ecb4d', '_system');" 
                    value="Get Auth Code" 
                    style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "> 
                                 
            </div>    
            <div class="col col-33 bordered">
                <input type="text" ng-model="auth.code" placeholder="Enter your Yandex Auth code" 
                    style="width: 100%; border: 1px solid #dddddd; "> 
            </div>
            <div class="col col-33 bordered">
                <input type="button" 
                    class="button" value="Get" ng-click="getAuthToken()" 
                    style="min-height: 33px; padding: 0px; min-width: 0px; line-height: 24px; width: 100%; border: 1px solid #dddddd; "> 
                                 
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-select">
            <div class="input-label">
              Current Database:
            </div>
            <select ng-model="currentDb.name" ng-change="switchDatabase()" > 
                    <option data-ng-repeat="d in databases" value="{{d}}" ng-selected="d == currentDb.name" >{{d}}</option>
                </select>
          </label>
            <!--div class="col col-33 bordered">
                Current Database: 
            </div>    
            <div class="col col-66 bordered item item-input item-select">
                <select ng-model="currentDb.name" ng-change="switchDatabase()" > 
                    <option data-ng-repeat="d in databases" value="{{d}}" ng-selected="d == currentDb.name" >{{d}}</option>
                </select> 
            </div-->
        </div>     


    
    </ion-content>
</ion-view>