<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Расходы" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.expenses" > 
    <ion-nav-view name="tab-expenses"></ion-nav-view>
    <!--div style="height:50%; background-color: red;">dsfsdf</div-->
  </ion-tab>

  <ion-tab title="Overview" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/overview">
    <ion-nav-view name="tab-overview"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="{{ syncStatus.statusText() }}" icon-off="ion-ios-gear-outline" href="" ng-click="sync()" 
      badge="syncStatus.status?'':'New'">
  </ion-tab>


</ion-tabs>
