<!DOCTYPE html>
    <html ng-app="budget">
    <head>
      <link rel="stylesheet" href="www/lib/web/css/bootstrap.min.css" />
      <link rel="stylesheet" href="www/app.css" />
      <script src="www/lib/web/angular/1.3.13/angular.min.js"></script>
      <script src="www/lib/web/angular/1.3.13/angular-route.js"></script>
      <script src="www/js/localstoragedb.js"></script>
      <script src="www/web_app.js"></script>
      <script src="www/js/dataService-service.js"></script>
      <script src="www/js/header-controller.js"></script>
      <script src="www/js/overview-controller.js"></script>
      <script src="www/js/expenses-controller.js"></script>
      <script src="www/js/expensesPlan-controller.js"></script>
      <script src="www/js/income-controller.js"></script>
      <script src="www/js/balance-controller.js"></script>
      <script src="www/js/plan-controller.js"></script>
      <script src="www/js/test-controller.js"></script>
    </head>
     <body> 

        <header ng-controller="HeaderCtrl">
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Budget tracker v0.1</a> 
                    
                    
                    
                     
                    <!--input type="button" value="stop" ng-click="clearSyncTimeout()">
                    <input type="button" value="test" ng-click="test()"-->
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="overview"><i class="fa fa-home"></i> Overview</a></li>
                    <li><a href="expenses"><i class="fa fa-shield"></i> Expenses</a></li>
                    <li><a href="income"><i class="fa fa-shield"></i> Income</a></li>
                    <li><a href="expensesPlan"><i class="fa fa-shield"></i> Expenses Plan</a></li>
                    <li><a href="balance"><i class="fa fa-comment"></i> Balance</a></li>
                    <li><a href="plan"><i class="fa fa-comment"></i> Plan</a></li>
                    <li><a href="" ng-click="sync()" 
                        
                        class="notInSync"
                        ng-class="{inSync: syncStatus.status}">
                             {{ syncStatus.statusText() }}</a></li>
                </ul>
                
                
            </div>
            </nav>
            <base href="/">
        </header>

        <div id="main">
            <div ng-view></div>
        </div>

    </body>
    </html>