/*.btn {
    padding-top: 0px; 
    padding-bottom: 0px;
    font-size: 12px;
}

.form-control {
    height: auto; 
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px 
}

.tr {
    padding-top: 0px; 
    padding-bottom: 0px;
}*/

.listHeader {
    background-color: #8e244d;
    color: #ffffff;
    font-weight: bold; 
}

.tr1 {
    /*background-color: #8e244d;
    color: #ffffff;*/
    border-color: #8e244d;
}

.tr2 {
    border-color: #1a9cb0;
	/*background-color: #1a9cb0;
    color: #ffffff;*/
}

.tr3 {
    border-color: #a3c644; 
	/*background-color: #a3c644; 
    color: #ffffff;*/
}

.tr4 {
    border-color: #e3471c;
	/*background-color: #e3471c;
    color: #ffffff;*/
}

.trTotal {
	color: #8e244d;
}

.trEditable {
	color: #000000;
}

.trNotEditable {
	 color: #aaaaaa;
}

.width-half{
    width: calc(50% - 3px);
    white-space: nowrap;
}

.notInSync {
    border: 1px solid red; 
}

.inSync {
    border: 1px solid green;
}

.td1 {
    margin-left: 0px;
    width: 100%;
} 

.td2 {
    margin-left: 20px;
    width: calc(100% - 20px);
} 

.td3 {
    margin-left: 40px;
    width: calc(100% - 40px);
} 

.td4 {
    margin-left: 60px;
    width: calc(100% - 60px);
} 

.table-nonfluid {
   width: auto !important;
}

.table-title {
    font-weight: bold; 
}

.responstable {
  margin: 1em 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;  
  /*width: 100%;*/
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 1px;
  border: 1px solid #167F92;
  border-collapse: collapse; 
  border-spacing: 0;
}

.responstable tr {
  border: 1px solid #D9E4E6;
}

.responstable th {
  border: 1px solid #fff;
  background-color: #167F92;
  color: #FFF;
  /*padding: 1em;*/
}

.responstable td {
  /*display: block;*/
  word-wrap: break-word;
  border: 1px solid #167F92;
  /*max-width: 7em;*/
}

td {
    width: 4.2em;    
}


.bordered {
    border: 1px solid #dddddd;
}

.selectable {
    color: blue;
}

.keysbutton {
    font-size: 24pt; 
}



