<div>
    <h1>О сайте</h1>
    
    <div>
        <h2>Это еще один сайт для управления семейным бюджетом</h2>  
        
        <h3>Особенности/Ограничения:</h3>
        <ul>
            <li>база данных бюджета представляет собой json объект</li>
            <li>база данных бюджета хранится в вашем личном хранилище Яндекса для приложений, 
                соответственно у Вас должен быть Яндекс аккаунт и вы должны разрешить сайту хранить там данные</li>
            <li>вся логика обработки находится на клиенте, все вычисления и работа с базой происходят в браузере</li>
            <li>Также есть простой клиент для андроида, использующий абсолютно те же скрипты, что и веб-версия, 
                который позволяет добавлять в базу данных информацию о расходах.</li>
            <li>4 уровня иерархии статей расходов, верхний уровень иерархии может содержать только один элемент</li>
            <li>в данный момент предусмотрено планирование не более, чем на 1 год, с 1 января по 31 декабря. При наступлении
                нового года нужно создать новую базу данных и перенести оставшиеся на 31 декабря прошедшего года средства
                в качестве дохода за 1 января нового года. 
            </li>
            <li>для доступа к базе данных оффлайн используется localStorage браузера (в том числе на андроид). Сведения со всех браузеров/устройств
                синхронизируются на уровне записей бд (доходов или расходов и т.д.). Более свежей считается запись с более поздней датой редактирования.
                Подразумевается, что на всех устройствах установлено корректная дата и время.  
            </li>
            <li>Модули:</li>
                <ul>
                    <li>Настройки. Служит для авторизация приложения в Яндексе, выбора активной базы данных, просмотра журнала обработки данных</li>
                    <li>Редактирование статей расходов</li>
                    <li>Расходы. Позволяет вносить фактические расходы</li>
                    <li>Доходы. Позволяет фиксировать планируемые и фактические доходы</li>
                    <li>План расходов по месяцам. Позволяет планировать и отслеживать расходы по статьям за месяц и день. Позволяет
                        ответить на вопрос, как соотносится планируемые и фактические расходы вцелом и в разрезе по статьям. 
                    </li>
                    <li>Баланс. Предполагается, что время от времени появляется необходимость убедиться, насколько фактические доходы и расходы
                        соотносятся с тем, что ведется в базе данных. Для этого служит этот режим. Необходимо посчитать все доступные средства на 
                        определенную дату и вбить значение в поле для ввода. Сайт автоматически подсчитает расхождение с тем, что зафиксировано в базе. 
                        Целевое значение - 0. Если разница равна 0, это означает, что все расходы и доходы учтены верно и, таким образом, можно
                        продолжать планировать и исполнять бюджет на ближайшие месяцы.   
                    </li>
                    <li>План. Позволяет увидеть картину в целом за год на основе планируемых и/или фактических доходов/расходов.
                        Сколько денег будет доступно в какой-либо месяц или в конце года. Если получаются отрицательные значения, значит 
                        нужно искать дополнительные источники доходов или оптимизировать расходы.  
                    </li>
                    <li>О сайте. Эта страница</li>
                </ul>
        </ul>
        В случае вопросов/предложений пишите на адрес uaauaa2[собака]yandex.ru 
    </div>
</div>