<div>
    <h1>О сайте</h1>
    
    <div>
        <h2>Это еще один сайт для управления семейным бюджетом</h2>  
        
        <h3>Особенности/Ограничения:</h3>
        <ul>
            <li>база данных бюджета представляет собой json объект</li>
            <li>база данных бюджета хранится в вашем личном хранилище Яндекса для приложений, 
                соответственно у Вас должен быть Яндекс аккаунт и вы должны разрешить сайту хранить там данные</li>
            <li>вся логика обработки находится на клиенте, все вычисления и работа с базой происходят в браузере</li>
            <li>Также есть простой клиент для андроида, использующий абсолютно те же скрипты, что и веб-версия, 
                который позволяет добавлять в базу данных информацию о расходах.</li>
            <li>4 уровня иерархии статей расходов, верхний уровень иерархии может содержать только один элемент</li>
            <li>Модули:</li>
                <ul>
                    <li>Настройки. Служит для авторизация приложения в Яндексе, выбора активной базы данных, просмотра журнала обработки данных</li>
                    <li>Редактирование статей расходов</li>
                    <li>Расходы</li>
                    <li>Доходы</li>
                    <li>План расходов по месяцам</li>
                    <li>Баланс</li>
                    <li>План</li>
                    <li>О сайте. Эта страница</li>
                </ul>
        </ul>
    </div>
</div>