<div>
    <h1>Баланс</h1>
    
    
    <form class="form-inline" role="form">
        <div class="form-group">
            <span size="3">Дата: </span>
            <input type="date" ng-model="balanceDate" size="3" class="form-control">
        </div>
        <div class="form-group">
            <span>Доступно, всего по факту на дату:</span>
            <input type="text" ng-model="totalAvailableToDate" size="3" class="form-control">
        </div>
    </form>
    <div class="form-inline">
        <div class="form-group">
            <span size="3">Доход, всего на дату: </span>
        </div>
        <div class="form-group">
            <b>{{getTotalIncomeToDate()}}</b>
        </div>
     </div>
     <div class="form-inline">
        <div class="form-group">
            <span size="3">Расход, всего на дату:</span>
        </div>
        <div class="form-group">
            <b>{{getTotalSpentToDate()}}</b>
        </div>
     </div>
     <div class="form-inline">
        <div class="form-group">
            <span size="3">Разница между учетом и фактом:</span>
        </div>
        <div class="form-group">
            <b>{{getDiff()}}</b>
        </div>
     </div>

    
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="button" value="Добавить" ng-click="add()" class="form-control">
        </div>
    </form>
        
    <!--form class="form-inline" role="form">
        <div class="form-group">
            <span>Plan/Fact: </span> 
            <select ng-model="incomeIsPlan" class="form-control">
                <option value="false">Actual</option>
                <option value="true">Planned</option> 
            </select><br/>
        </div>
        <div class="form-group">
            <span>Agent: </span><input type="text" ng-model="incomeAgent" class="form-control"><br/>
        </div>
    </form-->

    
    
    
    <!--br/>
    <h2>Previous</h2>
    <a href="" ng-click="init()">Init</a-->
    <table class="table table-bordered table-condensed table-nonfluid" style="white-space: nowrap">
        <tr>
           <th>Дата</th>
           <th>Всего доступно</th>
           <th>Доход</th>
           <th>Расход</th>
           <th>Разница</th>
           <th>Удалить</th>
        </tr>
        <tr ng-repeat="b in allBalances">
           <td>{{b.date}}</td>
           <td>{{b.totalAvailableToDate}}</td>
           <td>{{b.totalIncomeToDate}}</td>
           <td>{{b.totalSpentToDate}}</td>
           <td>{{b.diff}}</td>
           <td><input type="button" value="-" ng-click="del(b)"></td>
        </tr>
    </table>
    
    
    
    
</div>