<div>
    <h1>Редактировать статьи расхода</h1>
    <ul class="unstyled">
        <li ng-repeat="m in errorList track by $index">
            <span>{{m}}</span> 
        </li>
    </ul>
    <input type="button" class="btn btn-default" ng-click="save()" value="Сохранить">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>влево - вправо</th>
                <th style="width: 40%;">Заголовок</th>
                <th style="width: 30%;">Название</th>
                <th>вверх - вниз</th>
                <th>добавить - удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in newExpenseItems">
                <td>
                    <!--button type="button" class="btn btn-default width-half" ng-click="moveLeft(e)">left</button-->
                    <input type="button" class="btn btn-default width-half" ng-click="moveLeft(e)" value="влево">
                    <input type="button" class="btn btn-default width-half" ng-click="moveRight(e)" value="вправо">
                </td>
                <td><input type="text" class="form-control td{{e.levelNum}} tr{{e.levelNum}}" ng-model="e.title"></td>
                <td><input type="text" class="form-control" ng-model="e.name"></td>
                <td>
                    <input type="button" class="btn btn-default width-half" ng-click="moveVertically(e, true)" value="вверх">
                    <input type="button" class="btn btn-default width-half" ng-click="moveVertically(e, false)" value="вниз">
                </td>
                <td>
                    <input type="button" class="btn btn-default width-half" ng-click="add(e)" value="+">
                    <input type="button" class="btn btn-default width-half" ng-click="del(e)" value="-">
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

