<div>
        <h1>План расходов</h1>
        <div>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" ng-model="year" size="3" class="form-control">
                </div>
                <div class="form-group">
                    
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="isForecastVisible" value="">Показывать прогноз</label>
                    </div>
                </div>
                <div class="form-group" ng-show="isForecastVisible">
                    <input type="text" ng-model="activeMonth" size="3" class="form-control">
                </div>
                <div class="form-group" ng-show="isForecastVisible">
                    <span>месяц</span>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="button" value="Перезагрузить таблицу" ng-click="updateExpensesPlanTable()" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="button" value="Сохранить таблицу" ng-click="saveExpensesPlanTable()" >
                </div>
            </form>

           
            <table class="table table-bordered table-condensed table-nonfluid">  
                <tr ng-if="isForecastVisible">
                   <th rowspan="2">Статья расходов</th>
                   <th colspan="2" ng-repeat="m in months">{{monthTitles[m]}}</th>
                </tr>
                <tr ng-if="isForecastVisible">
                   <th ng-repeat-start="m in months">План</th>
                   <th ng-repeat-end="">Факт</th>
                </tr>  
                <tr ng-if="!isForecastVisible">
                   <th >Статья расходов</th> 
                   <th ng-repeat="m in months">{{monthTitles[m]}}</th>
                </tr>
                <tr ng-repeat="e in allExpenseItems" class="tr{{e.levelNum}}">
                    <td><label class="form-control td{{e.levelNum}} tr{{e.levelNum}} text-left" value="" style="white-space: nowrap">{{e.title}}</label></td>
                    
                    <td ng-if="isForecastVisible" ng-repeat-start="m in months" align=right > 
                        <input ng-if="e.name && m == activeMonth" type="text" class="form-control"  ng-model="expensesPlanTable[m][e.ID].forecast" 
                            style="width: 6em;  text-align:right; "> 
                        <span ng-if="!e.name || m != activeMonth" 
                            ng-class="(e.name == null)? ((e.levelNum == 1)? 'trTotal' : 'trNotEditable') : 'trEditable'"
                            style="padding: 2px;"> {{ getTotalForChildren(e.idListForTotal, m) }} </span>
                    </td>
                    <td ng-repeat-end="" ng-class="(e.name == null)? ((e.levelNum == 1)? 'trTotal' : 'trNotEditable') : 'trEditable'" 
                        align=right>{{ expensesPlanTable[m][e.ID].actual }}</td>
                </tr>
            </table>
            
            <br/>
            
        </div>
</div>

