<div>
        <h1>Расходы</h1>
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="btn btn-default" type="button" ng-click="addAllExpenses()" value="Добавить все из списка"> <span><b>Итого: {{ getTotalAmountToSubmit(); }} </b></span><br/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="total" size="5" placeholder="Итого должно получиться"> 
                            </div>
                            <div class="form-group">
                                <span><b>Разница: {{ total - getTotalAmountToSubmit(); }} </b></span>
                            </div>
                        </form>
                        
                        <div class="panel-body">
                            <div ng-repeat="e in expenses" class="form-inline">
                                <!--form class="form-inline" role="form"-->
                                  <div class="form-group">
                                      <input type="date" class="form-control" ng-model="e.date"  size="5" placeholder="дата"/>
                                  </div>
                                  <div class="form-group">          
                                        <select ng-model="e.expenseItemId" class="form-control">
                                            <option  data-ng-repeat="ei in expenseItems" value="{{ei.ID}}" ng-selected="ei.ID == e.expenseItemId" >{{ei.name}}</option>
                                        </select>
                                  </div>
                                  <div class="form-group">
                                      <input type="text" class="form-control" ng-model="e.amount" size="5" placeholder="сумма" ng-keydown="keyHandle($event)" auto-focus >
                                  </div>
                                  <div class="form-group">
                                      <input type="text" class="form-control" ng-model="e.comment" size="10" placeholder="комментарий" ng-keypress="keyHandle($event)">
                                  </div>
                                  <!--div class="checkbox">
                                    <label><input type="checkbox" ng-model="e.isActive">isActive</label>
                                  </div-->
                                  <!--div class="form-group">
                                      <input type="text" class="form-control" ng-model="e.changeDate" size="15">
                                  </div-->
                                  
                                  <div class="form-group">
                                      <input class="btn btn-default" type="button" value="-" ng-click="deleteRow(e)" >
                                  </div>
                                   
                                <!--/form-->
                            </div>
                            <div class="form-group">    
                                <input class="btn btn-default" type="button" value="+" ng-click="addAnotherExpense()" >
                            </div>
                        </div>
                
                        <!--div class="form-group">
                            <input class="btn btn-default" type="button" ng-click="listExpensesByDay(21)" value="Редактировать"> 
                        </div-->
                    </div>
                 </div>
                 <div class="col-md-4">
            
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Последние расходы</h3>
                            <div class="list-group"> 
                                <div ng-repeat="d in latestExpenses.days" class="list-group-item">
                                    <span class="list-group-item active">
                                        <b>{{latestExpenses[d].date}}</b>
                                        <input class="btn btn-xs btn-default pull-right" type="button" 
                                            value="{{latestExpenses[d].totalAmount}}" 
                                            ng-click="listExpensesByDateString(d)" />
                                    </span>
                                    
                                    <span class="list-group-item" ng-repeat="e in latestExpenses[d].expenses">
                                        {{e.expenseItemName}}  <!--span class="badge">{{e.amount}}</span-->
                                        <input class="btn btn-xs btn-default pull-right" type="button" 
                                            value="{{e.amount}}" 
                                            ng-click="listExpensesByExpenseItemIdAndDateString(e.expenseItemId, d)" />
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
            
            
        </div>
</div>

