<div>
        <h1>Доходы</h1>
        <!--div >  ng-controller="IncomeCtrl" --
        [ <a href="" ng-click="uploadDB()">Upload db to Yandex.Disk</a></li> ] -->
            
            <form class="form-inline" role="form">
                <div class="form-group">
                    <span>План/Факт: </span> <!-- ng-options="o.v as o.n for o in [{ n: 'Actual', v: false }, { n: 'Planned', v: true }]"> -->
                    <select ng-model="incomeIsPlan" class="form-control">
                        <option value="false">по факту</option>
                        <option value="true">планируется</option> 
                    </select><br/>
                </div>
                <div class="form-group">
                    <span>Агент: </span><input type="text" ng-model="incomeAgent" class="form-control"><br/>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <span>Дата: </span><input type="date" ng-model="incomeDate" class="form-control"> <br/>
                </div>
                <div class="form-group">
                    <span>Сумма: </span><input type="text" ng-model="incomeAmount" class="form-control"><br/>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <span>Комментарий: </span><input type="text" ng-model="incomeComment" class="form-control"><br/>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="button" value="add" ng-click="add()" class="form-control">
                </div>
            </form>
                          
            <h2>Доход</h2>
            <!--a href="" ng-click="init()">Init</a-->
            <table class="table table-bordered table-condensed table-nonfluid" style="white-space: nowrap">
                <tr>
                   <th>План?</th>
                   <th>Дата</th>
                   <th>Агент</th>
                   <th>Сумма</th>
                   <th>Комментарий</th>
                   <th>Удалить</th>
                </tr>
                <tr ng-repeat="b in allIncome">
                   <td>{{b.isPlan}}</td>
                   <td>{{b.date}}</td>
                   <td>{{b.agent}}</td>
                   <td>{{b.amount}}</td>
                   <td>{{b.comment}}</td>
                   <td><input type="button" value="-" ng-click="del(b)"></td>
                </tr>
            </table>
            
</div>

