<div>
        <h1>План</h1>
        <div>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="button" value="Пересчитать" ng-click="recalculate()" >
                </div>
            </form>
            
            <table class="table table-bordered table-condensed table-nonfluid">  
                <tr>
                   <th>Месяц</th>
                   <th>Факт</th>
                   <th>Доход</th>
                   <th>Расход</th>
                   <th>Остаток</th>
                </tr> 
                <tr ng-repeat="m in months">
                    <td>{{planTable[m].month}}</td>
                    <td><input type="checkbox" ng-model="planTable[m].isActual"></td>
                    <td>{{planTable[m].totalIncome}}</td>
                    <td>{{planTable[m].totalExpenses}}</td>
                    <td>{{planTable[m].remaining}}</td>
                </tr>
            </table>
            
            <br/>
            
        </div>
</div>

